@charset "utf-8";

.sidebar {
    @include position(fixed, 0 null 0 0, 10);
    width: 270px;
}

.sidebar-body {
    position: relative;
    height: 100%;
    border-right: 1px solid $line-color;
    background: #fff;
}

.sidebar-nav-list {
    margin: 0;
    padding: 0;

    .item {
        display: block;
    }

    .item-body {
        position: relative;
        @include clearfix;
        margin: -1px 0;

        border-top: 1px solid $line-color;
        border-bottom: 1px solid $line-color;
    }

    $item-content-padding-vertical: $distance-vertical * .5;
    $item-content-padding-horizontal: $distance-horizontal;
    $item-content-font-size: $font-size-small;
    $item-content-line-height: $line-height-small;

    .item-content {
        display: block;
        padding: $item-content-padding-vertical $item-content-padding-horizontal;

        font-size: $item-content-font-size;
        line-height: $item-content-line-height;

        @include text-overflow-ellipsis;

        &:hover {
            text-decoration: none;
        }
    }

    $item-content-height: $item-content-padding-vertical * 2 + compute-line-height($item-content-font-size, $item-content-line-height);

    .item-toggle {
        $size: $item-content-height;

        float: right;
        @include size($size);

        font-size: $size * .3;
        line-height: $size;
        text-align: center;

        border-left: 1px solid $line-color;

        .fa {
            display: none;
        }

        &:hover {
            background: #fafafa;
            text-decoration: none;
        }

        &:focus {
            text-decoration: none;
            outline: 1px dashed $line-color;
        }
    }

    .item.opened .item-toggle .icon-opened {
        display: inline;
    }

    .item.closed .item-toggle .icon-closed {
        display: inline;
    }

    .item-type {
        @extend %mini-type-label;
        @extend %mini-type-label-color;
    }

    .item.high {
        > .item-body {
            > .item-content {
                color: #4797c3;
            }
        }
    }
}

.sidebar-nav-group-list > .item > .item-content {
    font-weight: 600;
    font-size: $font-size-large;
    line-height: $line-height-large;
}

.sidebar-handle {
    position: absolute;
    top: 0;
    bottom: 0;
    background: #fff;
    border-right: 1px solid $line-color;

    opacity: 0;
    cursor: col-resize;

    transition: all 0.1s ease-in 0.1s;

    @mixin set-size($size) {
        width: $size;
        right: -($size);

        > .icon {
            @include size($size);

            font-size: $size * 0.6;
            line-height: $size;

            @include position(absolute, 50% 0 null 0);
            margin-top: -($size / 2);
        }
    }

    @include set-size(10px);

    &:after {
        content: ' ';
        @include position(absolute, 0 -8px 0 -8px, 1);
    }

    > .icon {
        text-align: center;
        color: $text-color-quiet;
        transition: all 0.1s ease-in 0.1s;
    }

    &:hover, &.on {
        @include set-size(16px);
        opacity: 0.9;
    }

    &.on {
        > .icon {
            color: $text-color;
        }
    }
}
